*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Manrope", sans-serif;
}

.container{
    max-width: 1440px;
    width: 100%;
    border: 2px solid red;
    margin: 0 auto;
}

.inner__container{
    max-width: 1153px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid black;
}

.container .diagramsWrap .diagram1 .img__wrap{
    position: relative;
}

.container .diagramsWrap .diagram1 .img__wrap .pink__circle{
    width: 45px;
    height: 45px;
    background-color: #FF5391;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 23px;
    z-index: -1;
}

.container .diagramsWrap .diagram2 .img__wrap{
    position: relative;
}

.container .diagramsWrap .diagram2 .img__wrap .slateBlue__circle{
    width: 45px;
    height: 45px;
    background-color: #7553FF;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: -10px;
    z-index: -1;
}

.container .diagramsWrap .diagram3 .img__wrap{
    position: relative;
}

.container .diagramsWrap .diagram3 .img__wrap .skyblue__circle{
    width: 45px;
    height: 45px;
    background-color: #53C1FF;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 40px;
    z-index: -1;
}