*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Manrope", sans-serif;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.inner__container{
    max-width: 1153px;
    width: 100%;
    margin: 0 auto;
}

.container .diagramsWrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 60px; 
    text-align: center;
    max-width: 1153px;
    margin: 0 auto;
    padding: 40px;
}

.container .diagramsWrap .diagram1{
    display: flex;
  flex-direction: column;
  align-items: center;
}

.container .diagramsWrap .diagram1 .img__wrap{
    position: relative;
}

.container .diagramsWrap .diagram1 .img__wrap .pink__circle{
    width: 45px;
    height: 45px;
    background-color: #FF5391;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 23px;
    z-index: -1;
}

.container .diagramsWrap .diagram2{
    display: flex;
  flex-direction: column;
  align-items: center;
}

.container .diagramsWrap .diagram2 .img__wrap{
    position: relative;
}

.container .diagramsWrap .diagram2 .img__wrap .slateBlue__circle{
    width: 45px;
    height: 45px;
    background-color: #7553FF;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: -10px;
    z-index: -1;
}

.container .diagramsWrap .diagram3{
    display: flex;
  flex-direction: column;
  align-items: center;
}

.container .diagramsWrap .diagram3 .img__wrap{
    position: relative;
}

.container .diagramsWrap .diagram3 .img__wrap .skyblue__circle{
    width: 45px;
    height: 45px;
    background-color: #53C1FF;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 40px;
    z-index: -1;
}

.container .diagramsWrap .diagram4{
    display: flex;
  flex-direction: column;
  align-items: center;
}

.container .diagramsWrap .diagram4 .img__wrap{
    position: relative;
}

.container .diagramsWrap .diagram4 .img__wrap .brightAzure__circle{
    width: 45px;
    height: 45px;
    background-color: #53ACFF;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    z-index: -1;
}

.container .diagramsWrap .diagram5{
    display: flex;
  flex-direction: column;
  align-items: center;
}

.container .diagramsWrap .diagram5 .img__wrap{
    position: relative;
}

.container .diagramsWrap .diagram5 .img__wrap .coralRed__circle{
    width: 45px;
    height: 45px;
    background-color: #FF5353;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 37px;
    z-index: -1;
}

.container .diagramsWrap .diagram6{
    display: flex;
  flex-direction: column;
  align-items: center;
}

.container .diagramsWrap .diagram6 .img__wrap{
    position: relative;
}

.container .diagramsWrap .diagram6 .img__wrap .goldenOrange__circle{
    width: 45px;
    height: 45px;
    background-color: #FFBA53;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    left: 20px;
    z-index: -1;
}